{% extends 'webapp/base.html' %}


{% block content %}
<div class="container-fluid p-5" style="background-color: rgb(0,0,0); 
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(30,122,249,0.26094187675070024) 50%); min-height: 100vh;">
    <h1 class="p-5" style="color: #599fff; font-family: 'Open Sans', sans-serif;">About me</h1>
    <hr class="bg-dark">
    <h4 class="px-5 pt-5" style="font-family: 'Open Sans', sans-serif;">Hey, I'm Chandler "Ares" Davis.</h4>
    <small class="px-5 text-muted">Business Mail - chandlerdavis9215@outlook.com</small>
    <p class="px-5 pt-2 font-weight-light">
        <br> <br> I'm a 25 years old husband and father of three kids.<br> <br>
        I work as a freelance video editor and I'm able to edit any footage you send me with ease. <br> What you get is quality
        work.
        <br> <br>
        <div class="text-center pt-5">Check out my recent projects</div>
    </p>
    <div class="text-center">
        <a href="https://www.youtube.com/channel/UCrnmmpa2qjo0-Fe8g6CkbXQ" style="text-decoration: none;"
            class="text-center">
            <span style="font-size: 4em;">
                <i class="fab fa-youtube shadow mx-auto" style="color: rgb(255,0,0);"></i>
            </span>
        </a>
        <br>
        <small class="mx-auto p-0 m-0">YouTube</small>

    </div>

</div>
{% endblock content %}