<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            background-color: #000000;
            font-family: 'Roboto', serif;
            color: rgba(255, 255, 255, 0.87);
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }
    </style>
    <title>Ares - {{ title }}</title>
</head>

<body>
    <div class=""
        style="background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,0.12) 0%, rgba(255,0,96,0.5) 50%, rgba(255,0,96,0.07) 100%); min-height: 100vh;">
        {% include 'webapp/navbar.html' %}

        {% block content %}
        {% endblock content %}
    </div>


    <!-- Optional JavaScript -->
    <script src="https://kit.fontawesome.com/4d61deb5f8.js" crossorigin="anonymous"></script>

    {% block js %}
    {% endblock js %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        .navbar-dark .navbar-nav .nav-link {
            color: #477ec9;
        }
    </style>
</body>

</html>