{% extends 'webapp/base.html' %}
{% load static %}


{% block content %}
<div class="row border">
    <div class="col-md-6 p-5 border">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/ares.jpg' %}" alt="My image" class="img-thumbnail my-5"
                    style="width: 200px; border-radius: 50%;">
            </div>
            <div class="col-md-6 my-auto">
                <h5 class="display-4 m-0 p-0">Ares</h5>
                <small class="text-muted m-0 p-0">Professional Video Producer</small>
            </div>
        </div>


    </div>
    <div class="col-md-6 p-5 border">

    </div>
</div>
{% endblock content %}